<!-- <h3>Top Heroes</h3>
<div class="grid grid-pad">
  <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </div>
</div>
<hero-search></hero-search> -->
<h3>Top Movies</h3>
<div class="grid grid-pad">
  <div *ngFor="let movie of movies" (click)="gotoMovies(movie)" class="col-1-4">
    <div class="module hero">
      <h4>{{movie.name}}</h4>
    </div>
  </div>
</div>
<!-- <hero-search></hero-search> -->
<h3>Top Music</h3>
<div class="grid grid-pad">
  <div *ngFor="let music of musics" (click)="gotoMusics(music)" class="col-1-4">
    <div class="module hero">
      <h4>{{music.name}}</h4>
    </div>
  </div>
</div>
<h3>Top Books</h3>
<div class="grid grid-pad">
  <div *ngFor="let book of books" (click)="gotoBooks(book)" class="col-1-4">
    <div class="module hero">
      <h4>{{book.name}}</h4>
    </div>
  </div>
</div>
